.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px 5px;
    background: rgb(36,98,235);
    background: linear-gradient(90deg, rgba(36,98,235,1) 0%, rgba(42,36,235,1) 100%);

    h1{
        color: var(--colortexto2);
        font-size: 2.5rem;
        text-align: center;

        strong{
            font-weight: 500;
            color: var(--verde);
        }
    }

    p{
        color: var(--colortexto2);
        font-size: 1.1rem;
        text-align: center;
    }

    a{
        padding: 7px 25px;
        border-radius: 10px;
        background-color: var(--verde);
        color: var(--colortexto2);
        font-size: 1rem;
    }
}



.titulo-parrafo{
    
    max-width: 600px;
    padding: 25px 0;
    text-align: center;

    h1{
        font-size: 3rem;
    }

    p{
        width: 95%;
    }
}

.cards-container{
    gap: 30px;
}

.card{
    width: 85%;
    max-width: 400px;
    padding: 15px 0;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;

    .icon{
        padding: 20px;
        border-radius: 50px;
        background-color: var(--fondoBotones);

        i{
            color: var(--colortexto2);
            font-size: 1.3rem;
        }
    }

    p{
        width: 95%;
        font-size: 0.9rem;
    }
}

.campos-populares{
    gap: 10px;
}

.campos{
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.pista{
    width: 85%;
    max-width: 450px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pista  .img{
    height: 225px;
    border-radius: 10px 10px 0px 0px;
    background-image: url(./../img/img_futbol_sala.png);

}
.pista .content{
    padding: 10px;
    
}

.pista .nombre_campo{
    font-size: 1.1rem;
    font-weight: bold;
}

.pista .content > .precio-button{
    display: flex;
    justify-content: space-between;
    align-items: center;

    span.precio{
        font-size: 1rem;
        font-weight: bold;
        color: var(--fondoBotones);
    }

    button.ver-detalles{
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: var(--fondoBody);
        transition: all .25s ease-in;

        a{
            font-size: 0.8rem;
            font-weight: 550;
            color: var(--colortexto);
        }
    }
    
}

.pista .categoria{
    width: min-content;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--fondoBotones);
    color: var(--colortexto2);
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    top: 4%;
    right: 4%;

}

.ver_campos{
    margin: 15px 0;
    padding: 5px 20px;
        border-radius: 5px;
        background-color: var(--fondoBotones);
        color: var(--colortexto2);
        font-weight: 500;
}

.pree-footer{
    padding: 25px 5px;
}

.pree-footer > h1, .pree-footer > p{
    text-align: center;
}

.pree-footer .buttons{
    display: flex;
    gap: 15px;

    a{
        padding: 5px 20px;
        border-radius: 5px;
        background-color: var(--fondoBotones);
        color: var(--colortexto2);
        font-weight: 500;
    }
}

@media screen and (min-width: 1000px) {

    .hero h1{
        font-size: 5rem;
    }

    .hero p{
        width: 50%;
        font-size: 1.5rem;
    }

    .hero a{
        transition: all 0.3s ease;

        &:hover{
            transform: scale(1.05);
        }
    }
    
    .cards-container{
        flex-direction: row;
        justify-content: center;
    }

    .card{
        width: 30%;
        transition: all 0.3s ease;

        &:hover{
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
        }

        .icon{
            transition: all 0.3s ease;
        }
        
    }

    .card:hover .icon{
    
        transform: scale(1.2);
    }

    .pista .content > .precio-button{
        button:hover{
            background-color: rgba(244, 244, 244, 0.75);
        }
    }

    .campos{
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .pista{
        width: 27%;
        transition: all 0.3s ease;

        &:hover{
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        }

    }

    

    .ver_campos{
        transition: all 0.2s ease;
            &:hover{
                background-color: #0035a7;
            }
    }

    .pree-footer{
        padding: 3rem 0;
        p{
            width: 50%;
        }
    }

    .buttons a{
        transition: all 0.3s ease;

        &:hover{
            transform: scale(1.05);
        }
    }
}
