@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo:'Anton'; 
    --titulos: 'Bebas Neue';
    --texto: 'Montserrat'; 
    --fondoBody: #fff; 
    --colorTitulos: #010100;
    --colorTitulos2: #fff; 
    --colorTexto: #010100;
    --colortexto2: #fff;
    --fondoHeroSection: #EFF4FE; 
    --fondoBotones: #2462eb; 
    --fondoFooter: #111827; 
    --verde: #4ef6a6; 
}

.half-visibility{
    opacity: .75;
}

.noVisible{
    opacity: 0;
}

.visible{
     opacity: 1;
}

.disabled{
    background-color: rgb(36, 98, 235, 0.5);
}

body{
    background-color: var(--fondoBody);
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

h1{
    font-family: var(--titulos);
}

a,p,li,h2,h3,label,span, input::placeholder{
    font-family: var(--texto);
}

.column-center{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.bg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
----------------------------
---------- NAVBAR ----------
----------------------------
*/



nav a.navbar-brand{
    font-family: var(--logo);
    font-size: 2.2rem;
    font-weight: 500;
}

nav a{
    font-family: var(--texto);
}

form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--fondoBotones);
    font-size: .9rem;
    font-weight: 500;
}


/*
----------------------------
---------- FOOTER ----------
----------------------------
*/

footer{
    padding: 15px 10px;
    background: rgb(36,98,235);
    background: linear-gradient(90deg, rgba(36,98,235,1) 0%, rgba(42,36,235,1) 100%);
}

.links{
    gap: 10px;
}

.links section h1{
    font-size: 1.6rem;
    font-weight: bold;
}

footer {
    h1,p,a,li{
        color: var(--colortexto2);
        padding: 5px 0;
    }
}

footer p,a,li{
    opacity: .9;
}

footer ul{
    margin: 0;
    padding: 0;    
}

hr{
    height: 3px;
    background-color: var(--colortexto2);
}

.derechos-RRSS {
    
    .derechos{
        text-align: center;
    }

    .RRSS{
        display: none;
    }
    
}

@media screen and (width >=1000px){
    
    footer .links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    footer .section-1 p{
        width: 70%;
    }

    .derechos-RRSS{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .RRSS{
            display: flex;
            gap: 10px;

            i{
                font-size: 1.3rem;
            }
        }
    }
}
